{% extends 'base.html' %}
{% load static %}


{% block title %}
Cars Details
{% endblock %}



{% block content %}

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Details</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <img src="{{cars.carImg.url}}" alt="">
      <li class="list-group-item">{{cars.model}}</li>
      <li class="list-group-item">{{cars.make}}</li>
      <li class="list-group-item">{{cars.rentAmount}}</li>
    </ul>
    <div class="card-body">
      <a href="{% url 'home' %}" class="card-link">Home</a>
      <a href="{% url 'pickupDetails' id=cars.id %}" class="card-link">Book Now</a>
    </div>
  </div>

  {% endblock %}