<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>AdminDashbord</title>
    <!-- 2nd -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <style>
      :root {
        --font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
          "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
          "Noto Color Emoji";
      }

      

      body {
        font-family: sans-serif;
      }
    </style>
  </head>
  <body id="page-top">
    <div class="container-fluid">
    <!--  -->
  

    <!-- 
<div>
<h1>cars</h1>
<h3><a href="{% url 'caradd' %}">add a car</a></h3>
    {% for car in cars %}
        <li> {{car.make}} {{car.model}}  <a href="{% url 'caredit' id=car.id %}" class="btn btn-primary">edit</a><a href="{% url 'cardelete' id=car.id %}" class="btn btn-danger">delete</a></li>
    {% endfor %}
</div> -->

    <div
      
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title text-center">
              <div class="title-text">
                <h2>Cars</h2>
              </div>
            </div>
          </div>
          <!-- /.col end-->
        </div>
        <!-- row end-->
        <div class="row">
          <div class="col-lg-12">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade active show" id="home" role="tabpanel">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <a href="{% url 'admindasbord' %}"><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/back.png" alt="back"/></a>
                      
                      <tr>
                        
                        <th class="text-center" scope="col">Added Date</th>
                        <th scope="col">Image</th>
                        <th scope="col">Car Details</th>
                        <th scope="col"></th>
                        <th class="text-center" scope="col">
                          <h3>
                            <a href="{% url 'caradd' %}" class="btn btn-primary"
                              >add a car</a
                            >
                          </h3>
                        </th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    {% for car in cars %}

                    <tbody>
                      <tr class="inner-box">
                        <th scope="row">
                          <div class="event-date">
                            <p></p>
                            <p>{{ car.added_date }}</p>
                          </div>
                        </th>
                        <td>
                          <div class="event-img">
                            <img
                              src="{{ car.carImg.url }}"
                              alt=""
                              style="width: 90px; height: 70px"
                            />
                          </div>
                        </td>
                        <td>
                          <div class="event-wrap">
                            <h3><p>{{car.make}}</p></h3>
                            <div class="meta">
                              <div class="organizers">
                                <p>{{car.model}}</p>
                              </div>
                              <div class="categories">
                                <p>{{car.seatingCapacity}} Seater</p>
                              </div>

                              <div class="time">
                                <span class="text-secondary"
                                  >{{car.engine}}</span
                                >&nbsp <span> </span> {{car.transmission}}
                                <span> </span>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="text-secondary">No: {{car.carNumber}}</p>
                          <p class="text-secondary">Year: {{car.year}}</p>
                          <p class="text-secondary">fuel: {{car.fuel}}</p>
                          <p class="text-secondary">
                            RC Expire: {{car.rc_expired_date}}
                          </p>
                        </td>
                        <td>
                            <a
                            href="{% url 'caredit' id=car.id %}"
                            class="padding:0px; margin:0px;"
                            >
                            <lord-icon
                            src="https://cdn.lordicon.com/wuvorxbv.json"
                            trigger="hover"
                            style="width:40px;height:40px">
                        </lord-icon>
                          </a>
                        </td>
                        <td style="margin-left:-10px; padding-left: 0px;">
                          
                          <a
                            href="{% url 'cardelete' id=car.id %}"
                            
                            >
                            <lord-icon
                                src="https://cdn.lordicon.com/drxwpfop.json"
                                trigger="morph"
                                state="morph-trash-out"
                                style="width:30px;height:30px">
                            </lord-icon></a
                          >
                        </td>
                      </tr>
                    </tbody>

                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>

            <!-- <div class="primary-btn text-center">
                  <a href="#" class="btn btn-primary">Download Schedule</a>
              </div> -->
          </div>
          <!-- /col end-->
        </div>
        <!-- /row end-->
      </div>
    </div>
  </div>
  <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <!-- 2nd -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
      const mobileScreen = window.matchMedia("(max-width: 990px )");
      $(document).ready(function () {
        $(".dashboard-nav-dropdown-toggle").click(function () {
          $(this)
            .closest(".dashboard-nav-dropdown")
            .toggleClass("show")
            .find(".dashboard-nav-dropdown")
            .removeClass("show");
          $(this).parent().siblings().removeClass("show");
        });
        $(".menu-toggle").click(function () {
          if (mobileScreen.matches) {
            $(".dashboard-nav").toggleClass("mobile-show");
          } else {
            $(".dashboard").toggleClass("dashboard-compact");
          }
        });
      });
    </script>
  </body>
</html>
